{% extends 'base.html' %} 
{% block content %}
<h1>Detalles    </h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Nombre del tema:</th>
      <td>{{ datos.cancion }}</td>
    </tr>
    <tr>
        <th scope="row">Compositor:</th>
        <td>{{ datos.compositor }}</td>
      </tr>
    <tr>
      <th scope="row">Nombre del Album:</th>
      <td>{{ datos.album }}</td>
    </tr>
    <tr>
      <th scope="row">Artista:</th>
      <td>{{ datos.artista }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}