{% extends 'base.html' %} 
{% block content %}
  <form action="" method="POST" class="py-3 px-4 d-flex">
    {% csrf_token %} 
    {% for field in form %}
    <div class="div-field px-2">
      <label class="form-label my-0">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div class="alert alert-danger mt-1" role="alert">
          {% for error in field.errors %}
            {{ error }}<br>
          {% endfor %}
        </div>
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
    {% endfor %}

    <button class="btn btn-primary px-2" style="width: 400px" type="submit">
      Filtrar
    </button>
  </form>

  {% include 'tabla.html' %} 


  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
      $("#id_artista_selector").change(function () {
          const artistid = $(this).val();  // cambiar por el nombre del id deseado
          console.log(artistid);
          $.ajax({                       //
              type: "POST",
              url: '{% url "getalbums" %}',
              data: {
                  'artistid': artistid,       // Coloque el id a consultar
                  'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` tiene la respuesta a la consulta
                  let html_data = '<option value="">---------</option>';
                  data.forEach(function (data) {
                      html_data += `<option value="${data.albumid}">${data.title}</option>`
                  });
                  $("#id_album_selector").html(html_data); // replace the contents of the topic input with the data that came from the server
              }
          });
      });
  </script>
  {% endblock javascript %}

{% endblock %}
